.version.index /* version checker */
{
	color: #0000E3;
	background-color: #890D8E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1221px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -54px;
	padding-bottom: 62px;
	width: 0.01px;
}

#home
{
	margin-left: 486px;
	position: relative;
}

#u569
{
	z-index: 42;
	width: 98px;
	background-color: transparent;
	position: fixed;
	top: 6px;
	left: 50%;
	margin-left: -32px;
}

#pu430
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 96px;
}

#u430
{
	z-index: 2;
	width: 880px;
	height: 495px;
	border-width: 4px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 11px;
}

#u181
{
	z-index: 4;
	position: relative;
	width: 920px;
	margin-right: -10000px;
	margin-top: 376px;
	left: 7px;
}

#u181_states
{
	height: 180px;
	width: 920px;
	vertical-align: top;
	background: url("../images/u181_states.png") no-repeat 0px 0px;
}

#u181:hover #u181_states
{
	background: url("../images/u181_states-r.png") no-repeat 0px 0px;
}

#u181.MuseLinkActive #u181_states
{
	background: url("../images/u181_states-a.png") no-repeat 0px 0px;
}

#u177
{
	z-index: 8;
	position: relative;
	width: 920px;
	margin-right: -10000px;
	margin-top: 84px;
}

#u177_states
{
	height: 216px;
	width: 920px;
	vertical-align: top;
	background: url("../images/u177_states.png") no-repeat 0px 0px;
}

#u177:hover #u177_states
{
	background: url("../images/u177_states-r.png") no-repeat 0px 0px;
}

#u177.MuseLinkActive #u177_states
{
	background: url("../images/u177_states-a.png") no-repeat 0px 0px;
}

#u444
{
	z-index: 12;
	position: relative;
	width: 920px;
	margin-right: -10000px;
	margin-top: 233px;
}

#u444_states
{
	height: 240px;
	width: 920px;
	vertical-align: top;
	background: url("../images/u444_states.png") no-repeat 0px 0px;
}

#u444:hover #u444_states
{
	background: url("../images/u444_states-r.png") no-repeat 0px 0px;
}

#u444.MuseLinkActive #u444_states
{
	background: url("../images/u444_states-a.png") no-repeat 0px 0px;
}

#u431
{
	z-index: 15;
	width: 211px;
	height: 126px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 354px;
}

#about
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 627px;
	left: 466px;
}

#u439
{
	z-index: 35;
	width: 211px;
	height: 126px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 542px;
	left: 354px;
}

#pu389
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -663px;
}

#pu389_position_content
{
	margin-top: -3px;
	padding-bottom: 42px;
}

#u389
{
	z-index: 39;
	height: 39px;
	background-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 101px;
}

#u389-bw
{
	z-index: 39;
}

#u394
{
	z-index: 44;
	width: 199px;
	height: 39px;
	background-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 101px;
	left: 50%;
	margin-left: 10px;
}

#u391
{
	z-index: 41;
	height: 1px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 107px;
}

#u391-bw
{
	z-index: 41;
}

#u425
{
	z-index: 46;
	width: 199px;
	height: 1px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 107px;
	left: 50%;
	margin-left: 10px;
}

#u448-4
{
	z-index: 55;
	width: 115px;
	min-height: 9px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 7px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	top: 112px;
	left: 50%;
	margin-left: -290px;
}

#u446-4
{
	z-index: 47;
	width: 120px;
	min-height: 9px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 7px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	top: 112px;
	left: 50%;
	margin-left: -165px;
}

#u447-4
{
	z-index: 51;
	width: 115px;
	min-height: 9px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 7px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	top: 112px;
	left: 50%;
	margin-left: 52px;
}

#u445-4
{
	z-index: 59;
	width: 132px;
	min-height: 9px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 7px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	top: 112px;
	left: 50%;
	margin-left: 182px;
}

#u390
{
	z-index: 40;
	height: 1px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 132px;
}

#u390-bw
{
	z-index: 40;
}

#u424
{
	z-index: 45;
	width: 199px;
	height: 1px;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: fixed;
	top: 132px;
	left: 50%;
	margin-left: 10px;
}

.js #u389.ose_pre_init,.js #u394.ose_pre_init,.js #u391.ose_pre_init,.js #u425.ose_pre_init,.js #u448-4.ose_pre_init,.js #u446-4.ose_pre_init,.js #u447-4.ose_pre_init,.js #u445-4.ose_pre_init,.js #u390.ose_pre_init,.js #u424.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u164
{
	z-index: 17;
	min-height: 307px;
	background-color: #F69795;
}

#u164_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u170-13
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-bottom: -32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 133px;
}

#u360-4
{
	z-index: 31;
	display: block;
	vertical-align: top;
	margin-bottom: -57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 620px;
}

#u164-bw
{
	z-index: 17;
	min-height: 307px;
	margin-top: 107px;
}

#work
{
	margin-left: 486px;
	margin-top: 39px;
	position: relative;
}

#contact
{
	margin-left: 486px;
	margin-top: 5px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

